* {
    margin: 0;
    padding: o;
}

body {
    background: #EFE34B;
}

h1 {
    text-align: center;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    margin-top: 30px;
}

.container {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px
}

.border {
    border: 12px solid #EFE34B;
    flex: 1;
    min-width: 15%;
    min-height: 10%;
}

.grid {
    display: flex;
    height: 545px;
    width: 550px;
    flex-wrap: wrap;
    margin: 0 auto;
    background: #32c8e7;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-around;
}

.button {
    display: flex;
    align-content: center;
    margin: 0 auto;
}

#start {
    margin-right: 10px;
    border: none;
    height: 50px;
    margin-top: 15px;
    margin-left: 35px;
    width: 115px;
    border-radius: 5px;
    background: #bb2826;
}

#reset {
    border: none;
    width: 115px;
    margin-right: 35px;
    margin-top: 15px;
    border-radius: 5px;
    background: #1c6633;
}

img {
    height: 20%;
    width: 20%;
    border-radius: 8px;
}