* {
    margin: 0;
    padding: o;
}

body {
    background: #EFE34B;
}

h1 {
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
}

.card_deck {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #EFE34B;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90px;
    height: 120px;
    background-color: aqua
}

.button {
    display: inline-block;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

/* --> taz added 8-2-18 10:09am */
.front {
    animation: flip .4s forwards;
}

/* style for both matching cards */
.match {

}

@keyframes flip {
    0% {}
    50% {
      box-shadow: 0px 40px 15px grey;
    }
    100% {
      transform: scaleX(-1);
      background: red; 
      /*background-size: 200px 350px;*/
    }
  }

/* <-- end taz added 8-2-18 10:09am */